$layoutPadding: 8px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 960px;

$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;

$background-color: rgb(19, 19, 19);
$secondary-color: rgb(32, 35, 40);
$product-color: rgb(106, 138, 253);
$text-color: rgb(255, 255, 255);
$svg-color: rgb(169, 174, 186);
$svg-filter: invert(75%) sepia(12%) saturate(225%) hue-rotate(184deg)
  brightness(93%) contrast(86%);
$hover-color: rgb(46, 51, 61);
$border-color: rgb(48, 61, 69);
