.app {
  display: grid;
  grid-template-columns: 10fr 5fr 2fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100%;
  padding: 1rem;
  background-color: $background-color;
}

.chat {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  border: 1px solid $border-color;
  background-color: $secondary-color;
}
.contact-info {
  display: flex;
  align-items: center;

  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid $border-color;
}

.messages {
  grid-area: 2 / 1 / 3 / 2;
  padding-inline: 1rem;
}

.message {
  display: flex;
  align-items: center;
  background-color: $product-color;
  padding: 0.5rem;
  margin-block: 1rem;
  width: 20%;
  min-width: max-content;
  border: none;
  border-radius: 0.5rem;
}

.msg-input-container {
  grid-area: 3 / 1 / 4 / 2;
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
}
.msg-input {
  min-height: 1.5rem;
  width: 60%;
  background-color: $hover-color;
  color: $svg-color;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-block: 1rem;
  margin-inline-start: 1rem;
}

.send-button {
  background-color: $secondary-color;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-inline: 0.5rem;
  img {
    filter: invert(76%) sepia(13%) saturate(199%) hue-rotate(157deg)
      brightness(92%) contrast(99%);
  }
}

.chats {
  grid-area: 1 / 2 / 2 / 3;
  border: 1px solid $border-color;
}

.aside {
  grid-area: 1 / 3 / 2 / 4;
  border: 1px solid $border-color;
  background-color: $secondary-color;
}

.css-1sp0hsh-JoyButton-root {
  background-color: transparent !important;
}

// .css-1enwr29-JoyButton-root{
//   color: ;
// }
