.chat-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-title-container {
  display: flex;
  flex-direction: column;
}
.chat-name {
  @include headline(1.5rem);
}

.chat-title-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
